<div class="fora-sala">
    <ul class="salas"></ul>

    Criar Sala: <input type="text" id="txtNomeSala" /> <input type="submit" id="bttCriarSala" value="Ok" >
</div>

<div class="dentro-sala">
    Dentro da sala
<ul class="jogadores">

</ul>
    <a href="#" id="lnkIniciarJogo" style="display:none">Iniciar Jogo</a>
    <a href="#" id="lnkSairSala">Sair da Sala</a>
</div>

<div class="jogo">
    <div class="players-wrapper">
        <div class="players"></div>
    </div>
    <hr />

    <div class="mesa-principal">
        <div class="mensagem"></div>
        <div class="carta"></div>
    </div>

    <hr />
    <div class="jogador">
        <div class="info">
            <div class="foto">
                <img src="https://graph.facebook.com/<%= user.id %>/picture?type=square" border="0" width="50" height="50" />
            </div>
            <div class="nome">
                <%= user.name %>
            </div>
        </div>
        <div class="cartas">
            <div class="mesa">
                <label>Mesa</label>
                <ul class="cima">

                </ul>
                <ul class="baixo">

                </ul>
            </div>
            <div class="mao">
                <label>Mão</label>
                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>

<div id="chat">
    <div class="mensagem">
        <div>Chat:</div>
        <input type="text"></input>
    </div>

    <div class="chat">
        <ul></ul>
    </div>
</div>
