<div class="players-wrapper">
	<div class="players" style="width:2420px">
		<% for(var i = 0; i < 10; i++){ %>
			<div class="player">
				<div class="info">
					<div class="foto">
						<img src="/images/fpo-picture.gif" width="50" height="50" />
					</div>
					<div class="nome">
						Mestre Houssani
					</div>
					
				</div>
				<div class="cartas">
					<div class="mao">
						<label>Mão</label>
						<ul>
							<li><div class="carta small back"></div></li><li><div class="carta small back"></div></li><li><div class="carta small back"></div></li><li><div class="carta small back"></div></li>
						</ul>
					</div>
					<div class="mesa">
						<label>Mesa</label>
						<ul class="cima">
							<li class="carta ej small"></li>
							<li class="carta cq small vazio"></li>
							<li class="carta ok small vazio"></li>
							<li class="carta oq small"></li>
						</ul>
						<ul class="baixo">
							<li class="carta back small"></li>
							<li class="carta back small"></li>
							<li class="carta back small"></li>
							<li class="carta back small"></li>
						</ul>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>
<hr />

<div class="mesa-principal">
	<div class="carta ej"></div>
</div>

<hr />
<div class="jogador">
	<div class="info">
		<div class="foto">
			<img src="/images/fpo-picture.gif" border="0" width="50" height="50" />
		</div>
		<div class="nome">
			Mestre Houssani
		</div>
	</div>
	<div class="cartas">
		<div class="mesa">
			<label>Mesa</label>
			<ul class="cima">
				<li class="carta ej"></li>
				<li class="carta cq"></li>
				<li class="carta ok"></li>
				<li class="carta oq"></li>
			</ul>
			<ul class="baixo">
				<li class="carta back"></li>
				<li class="carta back"></li>
				<li class="carta back"></li>
				<li class="carta back"></li>
			</ul>
		</div>
		<div class="mao">
			<label>Mão</label>
			<ul>
				<li><div class="carta ej"></div></li><li><div class="carta e3"></div></li><li><div class="carta c9"></div></li><li><div class="carta cq"></div></li><li><div class="carta e5"></div></li><li><div class="carta c8"></div></li>
			</ul>
		</div>
	</div>
</div>


<!--div class="carta p10"></div>
<div class="carta ej"></div>
<div class="carta cq"></div>
<div class="carta ok"></div>
<div class="carta p10 small"></div>
<div class="carta ej small"></div>
<div class="carta cq small"></div>
<div class="carta ok small"></div>
<div class="carta p10 back"></div-->